root = true

### UNIVERSAL RULES ###

# General default settings
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
# max_line_length - probably better to leave to language specific tools

# Ignore binaries
# TODO: maybe this is not necessary, check if eclint ignores binaries by default
[{*.{so,pdb,dylib,dll,cache,a},*.{zip,7z,gz,xz},*.{jpg,jpeg,png,gif,bmp,webp},*.{webm,mp4,avi,mkv},*.{exe,bin}}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

# files to keep directories in version systems, usually empty
[*.{,git,hg}{keep,empty}]
insert_final_newline = false

# Makefiles must be indented using tabs
[{*{,GNU,BSD}{makefile,Makefile},*.make,*{,Root}Makeppfile}]
indent_style = tab

# Trailing whitespace is generally permitted in markdown
# But it is rarely used by me, and I prefer trimming such whitespace regardless
# [*.md]
# trim_trailing_whitespace = false

### Documentation and Configuration # ###

# Most documentation formats prefer 2 spaces per indent level
[{*.{yml,yaml},*.{xml,html,svg,xlf,sdef},*.{md,mdown,markdown},*.{css,scss,sass,less}}]
indent_size = 2

# Multiline comments
[*.{html,htm}]
block_comment_end = -->
block_comment_start = <!--

# C-style languages multiline comments
[{*.{c,h}{,pp,xx,++},*.{m,cc,hh,mm,C,H,M},*.swift,*.{js,ts}{,x},*.php{,4,5,7},*.{java,scala,sc,kt,ktm,kts},*.{cs,fs}{,x}}]
block_comment = *
block_comment_end = */
block_comment_start = /*

### Apple ecosystem ###

[{Fastfile,{Podfile,Cartfile}{,.resolved}}]
indent_size = 2

# TODO: [{*.plist,*.entitlements,*.stringsdict}]
# TODO: [{*.storyboard,*.xib}]
# TODO: [*.strings]
# TODO: [{*.pbxproj,*.xcworkspacedata,*.xcscheme}]

### JavaScript ecosystem ###

[*.{js,ts,jsx,tsx}]
indent_size = 2

# All jsons
[*.{json,json5,remarkrc,htmllintrc,htmlhintrc,eslintrc,babelrc,hintrc,ecrc}]
indent_size = 2

### Ruby ecosystem ###

# Indent Gemfile using 2 spaces
[{Rakefile,Gemfile}]
indent_size = 2

# There is a bug that erronously outputs 3 spaces per indent for last few lines of Gemfile.lock
# Until it is fixed (and fixed versions available everywhere) ignoring this issue seems to be the only way
# relevant: https://github.com/rubygems/rubygems/issues/3326
[Gemfile.lock]
indent_size = unset

### .NET/Windows ecosystem ###

# Encoding exception for VisualStudio project files
[*.{cs,csx,vb,vbx,csproj,njsproj,sln}]
charset = utf-8-bom

# config files indent differently
[*.{csproj,njsproj,Config,config,targets}]
indent_size = 2

[*.sln]
indent_style = tab

[*.bat]
end_of_line = crlf

### Java/JVM/Android ecosystem ###
[gradlew]
indent_size = 2
